/* ================= ANIMATIONS ================= */

/* BODY FADE */

body{
animation:bodyFade 1s ease;
}

@keyframes bodyFade{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}

/* HEADER */

.header{
animation:topSlide 1s ease;
}

@keyframes topSlide{

from{
opacity:0;
transform:translateY(-40px);
}

to{
opacity:1;
transform:translateY(0);
}

}

/* LOGO GLOW */

.logoImg{

animation:logoGlow 2s infinite alternate;

}

@keyframes logoGlow{

from{

filter:
drop-shadow(
0 0 5px #10a37f
);

transform:scale(1);

}

to{

filter:
drop-shadow(
0 0 20px #10a37f
);

transform:scale(1.08);

}

}

/* SEARCH BAR */

.searchArea input{

transition:0.3s;

}

.searchArea input:focus{

transform:scale(1.02);

box-shadow:
0 0 15px rgba(16,163,127,0.5);

}

/* CARD ANIMATION */

.card{

animation:cardShow 0.8s ease;

}

@keyframes cardShow{

from{
opacity:0;
transform:
translateY(40px)
scale(0.9);
}

to{
opacity:1;
transform:
translateY(0)
scale(1);
}

}

/* CARD HOVER */

.card:hover{

transform:
translateY(-10px)
scale(1.04)
rotate(1deg);

box-shadow:
0 20px 40px
rgba(16,163,127,0.4);

}

/* BUTTON */

.reserveBtn{

transition:0.3s;

}

.reserveBtn:hover{

transform:scale(1.05);

background:#14c997;

box-shadow:
0 0 20px rgba(16,163,127,0.6);

}

/* LOGIN POPUP */

.popup{

animation:popupShow 0.5s ease;

}

@keyframes popupShow{

from{
opacity:0;
transform:
scale(0.6)
translateY(50px);
}

to{
opacity:1;
transform:
scale(1)
translateY(0);
}

}

/* MAP */

#map{

animation:mapFade 1.2s ease;

}

@keyframes mapFade{

from{
opacity:0;
transform:scale(0.95);
}

to{
opacity:1;
transform:scale(1);
}

}

/* AI CHAT */

#aiChat{

animation:aiOpen 0.4s ease;

}

@keyframes aiOpen{

from{
opacity:0;
transform:
translateY(40px)
scale(0.8);
}

to{
opacity:1;
transform:
translateY(0)
scale(1);
}

}

/* AI MESSAGE */

.aiMsg{

animation:msgShow 0.4s ease;

}

@keyframes msgShow{

from{
opacity:0;
transform:translateX(20px);
}

to{
opacity:1;
transform:translateX(0);
}

}

/* BOOKING HISTORY */

.booking{

animation:bookingShow 0.5s ease;

}

@keyframes bookingShow{

from{
opacity:0;
transform:translateX(-30px);
}

to{
opacity:1;
transform:translateX(0);
}

}

/* USER PHOTO */

.userBox img{

transition:0.4s;

}

.userBox img:hover{

transform:rotate(8deg) scale(1.1);

box-shadow:
0 0 20px rgba(255,255,255,0.4);

}

/* SCROLL BAR */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{

background:#10a37f;
border-radius:10px;

}

::-webkit-scrollbar-track{

background:#111827;

}